body {
  background: #efefef;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 150;
  font-style: normal;
}

ul {
    padding: 0;
}

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.page-header-title {
  font-style: italic;
}

.page-nav {
    display: flex;
    justify-content: center;
}

.page-nav-list {
    display: flex;
    flex-direction: row;

    list-style: none;
}

.page-nav-list-item {
    padding: 0 5px;

    border-right: 1px solid;
}

.page-nav-list-item a {
    text-decoration: none;
}

.page-nav-list-item a:hover {
    text-decoration: underline;
}

.page-nav-list-item:last-child {
    border-right: 0;
}

.page-content {
    min-width: 900px;

    border-top: 1px solid;
}

.page-content-header {
    text-align: center;
}


.page-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-top: 1px solid;
}

.social-links {
    display: flex;
    flex-direction: row;

    list-style: none;
}

.social-link-icon {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.btn {
  background-color: #efefef;
  border: none;
  border-radius: 25px;
  color: #424242;
  box-shadow: -6px -6px 10px #f9f9f9, 6px 6px 10px #00000026;
  cursor: pointer;
  padding: 10px;
}

.blog-content-list {
    list-style: none;

}

.blog-content-item-header {
    text-align: center;
}

.blog-content-item-header a {
    text-decoration: none;
}

.blog-content-item-header a:hover {
    text-decoration: underline;
}

.blog-content-item-publish-date {
    text-align: center;
}
