h1 {
    color: black;
}

.previous-employment-content {
    display: flex;
}

.previous-employment-item {
    border: 1px solid;
    padding: 5px;
    margin: 5px;
}

.previous-employment-item-header {
    margin: 0;
}


.previous-employment-year-start,
.previous-employment-year-finish {
    color: initial;
}